.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* The page as a whole */
body {
  background-color: hsl(220, 100%, 94%);
}

/* This is the styling for the image */
.center {
  border-radius: 23px;
  margin: 10px 0 10px 0;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 7%;
}

/* This code below is the card as a whole */
.card{
  box-shadow: 0 4px 8px 0;
  max-width: 350px;
  margin: auto;
  text-align: center;
  background-color: white;
  border-color: white;
  border-radius: 23px;
  border-style: solid;
}

/* The two below is for the text within the card.  */
.top-text{
  font-size: 27px;
  font-weight: 700;
}

.bottom-text{
  color: grey;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  border-radius: 23px;
}
 
/* This is the font for everything */
* {
font-family: 'Outfit';
}